## PANDAS
DATE TIME
2025-01-11
2025-01-11
2025-01-11
2025-01-11
apple
sunday Jan 2025

In [2]:
import pandas as pd

In [3]:
data = {
    "cars": ["bmw", "honda", "suzuki", "byd"],
    "models": ["2007", "2008", "2008", "2022"],
    "passen": ["4", "5", "6", "7"]
}
print(data)

{'cars': ['bmw', 'honda', 'suzuki', 'byd'], 'models': ['2007', '2008', '2008', '2022'], 'passen': ['4', '5', '6', '7']}

In [4]:
# convert this dict to dataframe
df = pd.DataFrame(data)
print(df)

     cars models passen
0     bmw   2007      4
1   honda   2008      5
2  suzuki   2008      6
3     byd   2022      7

In [5]:
df_to_csv = df.to_csv("cars.csv")

In [7]:
df = pd.read_csv("cars.csv")
print(df)

   Unnamed: 0    cars  models  passen
0           0     bmw    2007       4
1           1   honda    2008       5
2           2  suzuki    2008       6
3           3     byd    2022       7

In [8]:
# check the version of Pandas
pd.__version__

'2.2.2'

In [9]:
# Pandas Series
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [10]:
# Create labels in pandas with index
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [11]:
print(myvar["x"])

1

## DataFrame

In [12]:
import pandas as pd
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [14]:
# locarte ROW using loc function
print(df.loc[2])

calories    390
duration     45
Name: 2, dtype: int64

In [15]:
# return 0 and 1
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [16]:
import pandas as pd
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

In [17]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [19]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [20]:
print(df.loc["day1"])
print(df.loc["day3"])

calories    420
duration     50
Name: day1, dtype: int64
calories    390
duration     45
Name: day3, dtype: int64

Data Cleaning with Pandas

bad data can be
- empty cells
- data in wrong format
- wrong data
- Duplicates

In [22]:
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
print(df)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60   12/26/2020    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [23]:
print(df.head(10))

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2020/12/01'    110       130     409.1
1        60  2020/12/02'    117       145     479.0
2        60  2020/12/03'    103       135     340.0
3        45  2020/12/04'    109       175     282.4
4        45  2020/12/05'    117       148     406.0
5        60  2020/12/06'    102       127     300.0
6        60  2020/12/07'    110       136     374.0
7       450  2020/12/08'    104       134     253.3
8        30  2020/12/09'    109       133     195.1
9        60  2020/12/10'     98       124     269.0

In [24]:
print(df.tail(5))

    Duration         Date  Pulse  Maxpulse  Calories
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

Problems in our dataset
- data contains some empty cells
- data formatting has issue
- row 7 has wrong data
- data redundancy in row 11 and row 12