<a href="https://colab.research.google.com/github/sabinrajpokhrel/ML-Project/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PANDAS
DATE TIME
2025-01-11
2025-01-11
2025-01-11
2025-01-11
apple
sunday Jan 2025

In [ ]:
import pandas as pd

In [ ]:
data = {
    "cars": ["bmw", "honda", "suzuki", "byd"],
    "models": ["2007", "2008", "2008", "2022"],
    "passen": ["4", "5", "6", "7"]
}
print(data)

{'cars': ['bmw', 'honda', 'suzuki', 'byd'], 'models': ['2007', '2008', '2008', '2022'], 'passen': ['4', '5', '6', '7']}

In [ ]:
# convert this dict to dataframe
df = pd.DataFrame(data)
print(df)

     cars models passen
0     bmw   2007      4
1   honda   2008      5
2  suzuki   2008      6
3     byd   2022      7

In [ ]:
df_to_csv = df.to_csv("cars.csv")

In [ ]:
df = pd.read_csv("cars.csv")
print(df)

   Unnamed: 0    cars  models  passen
0           0     bmw    2007       4
1           1   honda    2008       5
2           2  suzuki    2008       6
3           3     byd    2022       7

In [ ]:
# check the version of Pandas
pd.__version__

'2.2.2'

In [ ]:
# Pandas Series
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
# Create labels in pandas with index
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
print(myvar["x"])

1

## DataFrame

In [ ]:
import pandas as pd
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
# locarte ROW using loc function
print(df.loc[2])

calories    390
duration     45
Name: 2, dtype: int64

In [ ]:
# return 0 and 1
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [ ]:
import pandas as pd
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

In [ ]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
print(df.loc["day1"])
print(df.loc["day3"])

calories    420
duration     50
Name: day1, dtype: int64
calories    390
duration     45
Name: day3, dtype: int64

Data Cleaning with Pandas

bad data can be
- empty cells
- data in wrong format
- wrong data
- Duplicates

In [ ]:
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
print(df)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60   12/26/2020    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [ ]:
print(df.head(10))

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2020/12/01'    110       130     409.1
1        60  2020/12/02'    117       145     479.0
2        60  2020/12/03'    103       135     340.0
3        45  2020/12/04'    109       175     282.4
4        45  2020/12/05'    117       148     406.0
5        60  2020/12/06'    102       127     300.0
6        60  2020/12/07'    110       136     374.0
7       450  2020/12/08'    104       134     253.3
8        30  2020/12/09'    109       133     195.1
9        60  2020/12/10'     98       124     269.0

In [ ]:
print(df.tail(5))

    Duration         Date  Pulse  Maxpulse  Calories
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

Problems in our dataset
- data contains some empty cells
- data formatting has issue
- row 7 has wrong data
- data redundancy in row 11 and row 12

In [1]:
# return a DataFrame with no empty cells
# df.dropna() will remove empty cells but will not change the datframe, if we want data frame to be changed,
# use interplace = true
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
new_df = df.dropna()
new_df

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60   12/26/2020    100       120     250.0
27        60  2020/12/27'     92       118     241.0
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [2]:
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
df.dropna(inplace = True)
print(df)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60   12/26/2020    100       120     250.0
27        60  2020/12/27'     92       118     241.0
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [3]:
# another way of hndling the null values is by replacing the null values
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
df.fillna(130, inplace = True)
df

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112     130.0
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          130    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60   12/26/2020    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132     130.0
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [ ]:
# fill specific column's null value
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
df["Calories"].fillna(130, inplace = True)
df

In [7]:
# fill specific with mean, median or mode
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
x = df["Calories"].mean() # average value of all the calories
df["Calories"].fillna(x, inplace = True)
df

<ipython-input-7-a28360b68f02>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Calories"].fillna(x, inplace = True)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130    409.10
1         60  2020/12/02'    117       145    479.00
2         60  2020/12/03'    103       135    340.00
3         45  2020/12/04'    109       175    282.40
4         45  2020/12/05'    117       148    406.00
5         60  2020/12/06'    102       127    300.00
6         60  2020/12/07'    110       136    374.00
7        450  2020/12/08'    104       134    253.30
8         30  2020/12/09'    109       133    195.10
9         60  2020/12/10'     98       124    269.00
10        60  2020/12/11'    103       147    329.30
11        60  2020/12/12'    100       120    250.70
12        60  2020/12/12'    100       120    250.70
13        60  2020/12/13'    106       128    345.30
14        60  2020/12/14'    104       132    379.30
15        60  2020/12/15'     98       123    275.00
16        60  2020/12/16'     98       120    215.20
17        60  2020/12/17'    100       120    300.00
18        45  2020/12/18'     90       112    304.68
19        60  2020/12/19'    103       123    323.00
20        45  2020/12/20'     97       125    243.00
21        60  2020/12/21'    108       131    364.20
22        45          NaN    100       119    282.00
23        60  2020/12/23'    130       101    300.00
24        45  2020/12/24'    105       132    246.00
25        60  2020/12/25'    102       126    334.50
26        60   12/26/2020    100       120    250.00
27        60  2020/12/27'     92       118    241.00
28        60  2020/12/28'    103       132    304.68
29        60  2020/12/29'    100       132    280.00
30        60  2020/12/30'    102       129    380.30
31        60  2020/12/31'     92       115    243.00

In [10]:
# filling the specific cells with mean, median or mode
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
x = df["Calories"].mean() # average value of all the calories
df.fillna({"Calories": x}, inplace = True)
df
x

304.68

304.68

Handle wrong data format

Either remove the rows or conevrt all the cells in the columns into the same format

In our data, row 22 and row 26 the date has wrong format.

    Duration Date  Pulse  Maxpulse  Calories
0         60  NaT    110       130     409.1
1         60  NaT    117       145     479.0
2         60  NaT    103       135     340.0
3         45  NaT    109       175     282.4
4         45  NaT    117       148     406.0
5         60  NaT    102       127     300.0
6         60  NaT    110       136     374.0
7        450  NaT    104       134     253.3
8         30  NaT    109       133     195.1
9         60  NaT     98       124     269.0
10        60  NaT    103       147     329.3
11        60  NaT    100       120     250.7
12        60  NaT    100       120     250.7
13        60  NaT    106       128     345.3
14        60  NaT    104       132     379.3
15        60  NaT     98       123     275.0
16        60  NaT     98       120     215.2
17        60  NaT    100       120     300.0
18        45  NaT     90       112       NaN
19        60  NaT    103       123     323.0
20        45  NaT     97       125     243.0
21        60  NaT    108       131     364.2
22        45  NaT    100       119     282.0
23        60  NaT    130       101     300.0
24        45  NaT    105       132     246.0
25        60  NaT    102       126     334.5
26        60  NaT    100       120     250.0
27        60  NaT     92       118     241.0
28        60  NaT    103       132       NaN
29        60  NaT    100       132     280.0
30        60  NaT    102       129     380.3
31        60  NaT     92       115     243.0

In [14]:
import pandas as pd
d = '2015-01-05 22:44:00'
date = pd.to_datetime(d)
print(date)

2015-01-05 22:44:00